/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Styles for the main page */
body {
    background-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.search {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

.squares-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    width: 150px;
    height: 150px;
    background-color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.user-icon-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.sign-up-button {
    background-color: #fff;
    color: #3498db;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Add styles for the forum page */
body.forum {
    background-color: #3498db;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 100px;
    color: #3498db;
    margin-top: 20px; /* Adjust the margin to create space between category and search bar */
}

.container {
    width: 100%;
    min-width: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(images/background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;    
}

/* Adjust the search bar styles */
.search-bar {
    width: 100%; /* Increase the width of the search bar */
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px; /* Increase padding for better visibility */
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;

}

::placeholder{
    color: #cac7ff;
}

.search-bar button img{
    width:25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 20px; /* Add margin to move the options below the search bar */
}

.button-container a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

/* ... Other styles ... */
