<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ category }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>{{ category }}</h1>
      <form action="https://www.google.com/search" method="get" class="search-bar">
        <!-- Add search bar here -->
        <input type="text" placeholder="Search..." name="q">
        <button type="submit"><img src="images/searchicon.jpg"></button> 
      </form>
    </div>
    <div class="clickable-options">
      <!-- Clickable options -->
      <a href="/">Main</a>
      <a href="/forum/{{ category }}/post">Post an issue</a>
    </div>
  </div>

  <!-- User icon container (Sign Up) -->
  <div class="user-icon-container">
    <!-- User icon image -->
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/New_user_icon-01.svg/1200px-New_user_icon-01.svg.png" alt="User Icon" class="user-icon">
    <!-- Sign up button -->
    <button class="sign-up-button">Sign Up</button>
  </div>
</body>
</html>
