<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category Selection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1 class="search">Select a Category</h1>
  <div class="squares-container">
    <a href="/forum?category=Azure" class="square">Azure</a>
    <a href="/forum?category=Kubernetes" class="square">Kubernetes</a>
    <a href="/forum?category=Docker" class="square">Docker</a>
    <a href="/forum?category=Terraform" class="square">Terraform</a>
    <a href="/forum?category=Jenkins" class="square">Jenkins</a>
    <a href="/forum?category=Prometheus" class="square">Prometheus</a>
  </div>

  <!-- User icon container -->
  <div class="user-icon-container">
    <!-- User icon image -->
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/New_user_icon-01.svg/1200px-New_user_icon-01.svg.png" alt="User Icon" class="user-icon">
    <!-- Sign up button -->
    <button class="sign-up-button">Sign Up</button>
  </div>
</body>
</html>
