<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <title>BugBuddies - {{ category }}</title>
</head>
<body class="font-roboto leading-relaxed">

    <header class="bg-gray-200 border-b border-gray-400 p-4">
        <div class="container mx-auto flex items-center justify-between">
            <a class="text-xl font-medium text-gray-800" href="https://tailblocks.cc" target="_blank">
                BugBuddies - {{ category }}
            </a>
            <nav class="flex items-center">
                <a href="{{ url_for('index') }}" class="mr-5 hover:text-gray-900">Main</a>
                <a href="{{ url_for('forum', category=category) }}" class="mr-5 hover:text-gray-900">Forum</a>
                {% if 'username' in session %}
                    <a href="{{ url_for('login') }}" class="mr-5 hover:text-gray-900">Welcome {{ session['username'] }}!</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="mr-5 hover:text-gray-900">Sign In</a>
                {% endif %}
            </nav>
        </div>
    </header>
        <section class="text-gray-700 body-font overflow-hidden">
            <div class="container px-5 py-10 mx-auto">
              <div class="lg:w-3/4 mx-auto flex flex-wrap items-center justify-between">
                <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                  <h1 class="text-3xl font-semibold text-gray-900 mb-4">Submit New Issue</h1>
                  <form action="/forum/{{ category }}/post" method="post" enctype="multipart/form-data">
                    <div class="mb-4">
                      <label for="postTitle" class="block text-sm font-medium text-gray-900 mb-2">Issue Topic</label>
                      <input type="text" id="postTitle" name="issueTopic" class="w-full bg-gray-100 border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" required>
                    </div>
                    <div class="mb-4">
                      <label for="postDescription" class="block text-sm font-medium text-gray-900 mb-2">Description</label>
                      <textarea id="postDescription" name="description" rows="6" class="w-full bg-gray-100 border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" required></textarea>
                    </div>
                    <div class="mb-4">
                      <label for="postLabels" class="block text-sm font-medium text-gray-900 mb-2">Labels</label>
                      <input type="text" id="postLabels" name="labels" class="w-full bg-gray-100 border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500">
                    </div>
                    <div class="mb-4">
                      <label for="postSpecs" class="block text-sm font-medium text-gray-900 mb-2">Specs</label>
                      <input type="text" id="postSpecs" name="specs" class="w-full bg-gray-100 border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500">
                    </div>
                    <div class="mb-4">
                      <label for="postScreenshots" class="block text-sm font-medium text-gray-900 mb-2">Insert Screenshots</label>
                      <input type="file" id="postScreenshots" name="screenshot" accept="image/*" class="w-full bg-gray-100 border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500">
                    </div>
                    <button class="bg-indigo-500 text-white py-2 px-6 rounded-md focus:outline-none hover:bg-indigo-600" type="submit">Submit</button>
                  </form>
                </div>
                <div class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded-lg overflow-hidden">
                  <img alt="Screenshot" class="w-full h-full object-cover object-center rounded-lg" src="https://t4.ftcdn.net/jpg/04/63/46/45/360_F_463464553_6SVpcBteOsWd5poE8HzAoseMO9GY4qL0.jpg">
                </div>
              </div>
            </div>
          </section>